.upload-form {
    text-align: center;
    width: 90%;
    margin: auto;
}

.image-preview {
    height: 250px;
    width: 55%;
    min-width: 300px;
    margin: 20px auto;
}
mat-card {
    min-width: 255px;
    width: 50%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.25);
}

img {
    width: 100%;
}

mat-form-field {
    margin-left: .5rem;
    margin-right: .5rem;
}

.file-upload-error {
    text-align: center;
    color: red;
}

.uploadfilecontainer {
    background-image: url("../../../assets/icons/upload.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    width: 50%;
    min-width: 255px;
    margin: 20px auto;
    border: 2px dashed green;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.upload-button{
    background-color: green;
    color: white;
    margin: 1rem;
}

#description-input {
    width: 80%;
}

.page-title {
    text-align: center;
}