lambdas/getSignedS3Url/node_modules/
lambdas/getSignedS3Url/package-lock.json
lambdas/getSignedS3Url/getSignedS3Url.zip
lambdas/verifyUserToken/node_modules/
lambdas/verifyUserTokenPy/package/
lambdas/getUserDataFromCognitoToken/node_modules/
*.zip
