<mat-toolbar>
    <div class="menu-content">
        <div class="logo" [routerLink]="['/']">
            <mat-icon svgIcon="animal_crossing_logo" [inline]="true"></mat-icon>
        </div>

        <input type="text" placeholder="Search Design...">

        <div class="right" *ngIf="{value: isAuthenticated | async} as data">
            <button mat-button class="log-in-button" (click)="login()" *ngIf="!data.value">
                Log in
            </button>
            <button mat-button class="log-in-button" [routerLink]="['/upload']" *ngIf="data.value">
                Upload
            </button>
            <button mat-button class="log-in-button" (click)="logout()" *ngIf="data.value">
                Logout
            </button>
            
        </div>
    </div>
</mat-toolbar>